body {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,1) 2%, rgba(87,87,90,1) 100%);
}

#memes {
    margin-top: 50px;
    display: grid;
    gap: 3vw;
    margin-left: 2vw;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;

}

#memes img {
    width: 28vw;
    height: 28vw;
    object-fit: cover;
    border: rgb(128, 126, 126) solid 2px;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    justify-content: center;

}

#memes img:hover {
    background-color: rgb(247, 236, 236);
}

.see_more_btn {
    padding: 10px 30px 10px 30px;
    border: 1px black solid;
    border-radius: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,1) 2%, rgba(87,87,90,1) 100%);
    color: #f1f1f1;
    font-size: large;

}

.btn {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,14,1) 2%, rgba(87,87,90,1) 100%);

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    /* background: rgb(2,0,36); */
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(110,93,161,1) 25%, rgba(243,249,250,1) 100%);  */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
    color: #fff;
    background-color: #333;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #14046e;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    border-radius: 25px;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: red;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }

    nav form {
        right: 30px;
    }
}

@media (max-width: 350px) {

    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.content .space {
    margin: 10px 0;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.description{
    display:flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    margin-top: 30px;
}
#des{
    color: #f1f1f1;
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#modal{
    background: #000c;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

#modal img{
    width: 38vw;
    height: 40vw;
}

#leftSlide{
    background: transparent;
    position: absolute;
    left: 25px;
    height: 50px;
    font-weight: 500;
    top: 50%;
    font-size: 50px;
    border: none;
    cursor: pointer;
    width: 50px;
    color:#fff;
}

#rightSlide{
    background: transparent;
    position: absolute;
    right: 25px;
    cursor: pointer;
    height: 50px;
    font-weight: 500 ;
    color:#fff;
    top: 50%;
    font-size: 50px;
    border: none;
    width: 50px;
}

/* modal popup */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monserrat&display=swap");


.panel-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  text-align: center;
}
#panel1{
    display: flex;
    height: 42vw;
    align-items: center;
    justify-content: center;
}

.panel-container strong {
  line-height: 20px;
}

.panel-container p {
  margin: 25px 0;
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  cursor: pointer;
  flex: 1;
  padding: 20px;
  margin: 10px 5px;
}

.rating.active,
.rating:hover {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating.active small,
.rating:hover small {
  color: #111;
}

.btn {
  background-color: #302d2b;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 12px 30px;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}
  